.app__article {
    flex: 1;
    display: flex;
    gap: 1rem;

    img {
        width: 100px;
    }
}

.app__article-items {
    display: flex;
    justify-content: flex-end;

    div {
        display: flex;
        flex-direction: column;

        h2 {
            flex: 1;
            font-weight: 700;
            color: var(--grayish-blue);
            font-size: 1.75rem;
        }

        span {
            flex: 1;
            color: var(--very-grayish-blue);
            font-weight: 900;
            font-size: 1.25rem;
        }

        p {
            flex: 1;
        }
    }
}