.app__navbar {
    width: 100%;

    margin: 3rem 0 3rem 0;
      
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    li {
        margin: 0 1rem;

        a {
            text-decoration: none;
            color: var(--dark-grayish-blue);
        }
    }
}