.app__new {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    padding: 2.5rem 0;

    border-bottom: 1px solid var(--dark-grayish-blue);

    h3 {
        color: white;
    }

    p {
        line-height: 1.5;
    }

}